body {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    color: #777;
    background: #777;
}

#h {
    color:green;
    background-color: orange;
    width: 495px;
}

#p01 {
    background-color: blue;
    color: #ebebeb;
    width: 495px;
}

.header {
    background-color: #ebebeb;
    text-align: center;
    color: red;
}

.nav {
    background-color: #ebebeb;
    text-align: center;
}

#section {
    float: left;
    position: absolute;
    background-color: yellow;
    color: blue;
    width: 495px;
}

#article {
    background-color: purple;
    color: aqua;
    width: 495px;
}

.aside {
    position: relative;
    background-color: red;
    float: right;
    color: violet;
    height: 100px;
    width: 495px;
    height: 220px;
    text-align: center;
}

.footer {
    background: #ebebeb;
    width: 960px;
    height: 50px;
    text-align: center;
    color: green;
}
.container{
    clear:both;
    width:960px;
    height:300px;
}
